*{
font-family: 'Lato';
font-style: normal;
}
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
.window {
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

}
.window__nav {
}
.nav {
    width: 75px;
    background: linear-gradient(#413F3E, #050505);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav__comandbuttons {
}
.comandbuttons {
    width: 52px;
    height: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
}
.comandbuttons__item {
    height: 12px;
    width: 12px;
    background-color: #FFBD2E;
    border-radius: 50%;
}
.comandbuttons__item:last-child{
    background-color: #29C941;
}
.comandbuttons__item:first-child{
    background-color: #FF6058;
}

.nav__sourse {
}
.sourse {
    flex: 1 1 777px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}
.sourse__item {
    width: 72px;
    height: 61px;

}
.sourse__item:last-child{
    align-items: flex-end;
    margin-bottom: 15px;
}

.sourse__item-active {
}


.window__treads {


}
.treads {
    flex: 0 0 262px;
    background: linear-gradient(#525152, #202123);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
    }

.treads__item {
}
.list {
}
.list__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 24px 30px 22px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.list__title img{
    margin-left: 5px;
    margin-top: 9px;
}
.title__seeating img{
    margin-top: 5px;
}
.list__content {
    padding: 0 0 30px 22px;
    display: flex;
}
.list__content div{
    margin-right: 11px;
}
.chanels {
}
.chahels__title {
}
.title {
    display: flex;
    justify-content: space-between;
    padding: 0 25px 14px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #919191;
}
.chahels__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 22px;
}
.chanel {
    height: 30px;
    width: 214px;
    padding: 4px 13px 9px 13px;


}
.chanel:first-child{
    background-color: rgba(255, 255, 255, .2);
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.friends {
}
.friends__title {
    margin-top: 10px;
}
.friends__content {
}
.friend__card {
}
.card {
    width: 214px;
    display: flex;
    align-items: center;
    padding-left: 24px;
}
.card__status {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #666666;
    margin-right: 8px;
}
.card:nth-child(1) .card__status,
.card:nth-child(2) .card__status{
    background: #70CC16;
}
.card__photo {
    margin-right: 12px;
    margin-top: 8px;
}
.card__username {
}   
.window__chat {
    flex: 1 1 870px;
}
.chat {
}
.window__profile {
    flex: 0 0 200px;
    height: 800px;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;


}
.profile__info{
    height: 623px;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#d8dadd, #d0d3d7);
    padding-left: 19px;
}

.info__main {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000; 
    margin-top: 15px;
}
.name {

}
.status {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #70CC16;
    margin-left: 6px;

}
.post {
    margin-top: 5px;
}
.sn {
    display: flex;
    margin-top: 20px;
}
.sn__item {
    margin-right: 6px;
}
.butottons {
    display: flex;

}
.message {
    width: 134px;
    height: 25px;
    background: #3577EF;
    border-radius: 4px;
    margin: 19px 3px 14px 0;
    padding: 4px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
.message-alt {
    width: 25px;
    padding: 9px;
}
.ui{
    height: 15px;
    margin-top: 9px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5F6164;
}
.userinfo-text{
    height: 17px;
    margin-top: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.close-slider{
    align-items: flex-end;
    margin: auto 24px 29px auto;
}

.chat__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    padding: 0 23px;
    border-bottom: 1px solid #d6d6d6 ;
}
.ch__item{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #A4A4A4;
}
.chat__hame { 
    height: 24px;
    margin-right: auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.chat__hame img{
    height: 15px;
    width: 15px;
    margin: 4px 5px;
}
.chat__counter {
    height: 17px;
}
.chat__counter img{
    width: 10.5px;
    height: 15px;
    margin: 6px;
}

.chat__search {
    justify-content: space-between;
    width: 241px;
    height: 31px;
    margin: 0 24px; 
    padding: 9px 9px 8px 16px;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    border-radius: 4px;
}
.chat__search img{
    width: 15.5px;
    height: 15.5px;
}
.chat__settings {
}
.chat__settings img{
    height: 15px;
    width: 17px;
}
.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 21px;
    width: 5px;
    margin-left: 20px;

}

.settings__item {
    width: 4.5px;
    height: 4.5px;
    background-color: #d6d6d6;
    border-radius: 50%;

}
.chat__wall {
    height: 644px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px;
}
.chat__wall {
}
.wall {
}
.wall__msg {
}
.wall__sep {
    align-self: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #8D8D8D;
}
.wall__sep:before,
.wall__sep::after {

  }

.chat__input {
    display: flex;
    padding-left: 23px;
    padding-top: 22px;
    border-top: 1px solid #d6d6d6;
}
.ci__items {
    margin-right: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8D8D8D;
}
.ci__items:last-child{
    margin-left: auto;
    margin-right: 23px ;
}
.ci__img {
    height: 22px;
    height: 22px;
    object-fit: contain;
}